.cart-container {
    max-width: 1280px;
    margin: 0 auto;
}

.cart-item {
    /* width: 1270px; */
    /* height: 100px; */
    border: 1px solid #ededed;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.cart-item-quantity {
    font-size: 14px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    padding: 6px 20px;
    height: 36px;
    width: 44px
}

.cart-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    margin: 20px 0;
}

.cart-item-title {
    font-size: 20px;
    font-weight: 500;
    color: #18583a;
}

.cart-item-desc{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #132322;
    width: 75%;
}

.cart-item-price{
    border-top: 1px solid #ededed;
    color: #132322;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    display: inline-block;
    padding-top: 5px;
}

.cart-item-pricebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.cart-item-details {
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 200px;
}

.continue-shopping-btn{
    color: #132322;
    border: 1px solid #132322;
    background-color: white;
    box-sizing: border-box;
    cursor: pointer;
    padding: 6px 0;
    width: 220px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.checkout-btn{
    color: #132322;
    border: 1px solid #132322;
    box-sizing: border-box;
    cursor: pointer;
    padding: 6px 0;
    width: 220px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #3ddc91;
    border: none;
}