/* Checkout.css */
.checkout-info-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .checkout-info-wrapper {
    padding: 0 15px;
  }
  
  .checkout-info {
    max-width: 380px;
    border: 1px solid #ededed;
    border-radius: 8px;
    padding: 40px 40px 0;
    margin: 70px auto 100px;
  }
  
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .form-input {
    font-size: 14px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ededed;
    outline: none;
    padding: 10px 0;
  }
  
  .form-input.error {
    border-bottom: 1px solid red;
    color: red;
  }
  
  .form-input::placeholder {
    color: #cccccc;
  }
  
  .form-input.error::placeholder {
    color: red;
  }
  
  .error-message-container {
    background-color: #fff;
    height: 45px;
    margin-bottom: 5px;
    margin-top: -10px;
    position: relative;
    -webkit-flex: 1 1;
    flex: 1 1;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  .error-message-container.error {
    background-color: red;
  }
  
  .error-message {
    color: white;
  }
  
  .cancel-btn,
  .continue-btn {
    color: #132322;
    border: 1px solid #132322;
    width: 220px;
    margin-bottom: 0;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .continue-btn {
    background-color: #3ddc91;
    border: none;
  }
  
  .checkout-buttons {
    margin-top: 5px;
    border-top: 1px solid #ededed;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 40px 0;
    margin-bottom: 30px;
  }
  
  .cancel-icon{
      color: white;
      font-size: 22px;
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: -2px;
  }

.summary_info_label {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #132322;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.summary_value_label{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.summary_total_label  {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}

.checkout_complete_container{
   max-width: 1280px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
    padding: 30px 15px 50px;
    text-align: center;
    padding-bottom: 100px;
}

.complete-img {
  max-width: 72px;
}

.complete-header{
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  max-width: 450px;
}

.complete-text{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 70px;
}

.back-to-products-btn{
  border: none;
  background-color: #3ddc91;
  border-radius: 4px;
  color: #132322;
  width: 160px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: 6px 20px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}