.login-container{
    background-color: #eefcf6;
    min-height: 100vh;
}

.login_wrapper-inner{
    width: 70%;
    margin: 0 auto;
}

.form-group{
    margin-bottom: 10px;
}

.form-input {
    font-size: 14px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ededed;
    outline: none;
    padding: 10px 0;
}

.login-button-container{
    max-width: 292px;
    padding-top: 30px;
    margin: 0 auto;
    float: none;
    width: 100%;
}

.submit-btn{
    background-color: #3ddc91;
    border: 4px solid #3ddc91;
    border-radius: 4px;
    color: #132322;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    line-height: normal;
    margin-bottom: 15px;
    padding: 10px 30px;
    text-decoration: none;
    width: 100%;
}

.login-wrapper-inner{
    width: 70%;
    max-width: 780px;
    padding: 15px 30px 30px;
    margin: 0 auto;
    border: 1px solid #ededed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background-color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.error-message-container{
    background-color: #fff;
    height: 45px;
    margin-bottom: 5px;
    margin-top: -10px;
    position: relative;
    -webkit-flex: 1 1;
    flex: 1 1;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-justify-content: center;
    justify-content: center;
}

.login-logo{
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    padding: 30px 0;
}

.error-msg{
    color: red;
}